doctype html
//
    Dimension by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Sistema JMJ
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/assets/css/main.css")
        link(rel="stylesheet", href="/assets/icomoon/style.css")
        //if lte IE 9
            link(rel="stylesheet", href="/assets/css/ie9.css")
        noscript
            link(rel="stylesheet", href="/assets/css/noscript.css")
    body
        // Wrapper
        #wrapper
            include ../usuario.pug  
            br
            br

            #main           
                article.active
                    include ../menu.pug   
                    br
                    br
                    
                    section
                        h3.major DADOS DA JMJ
                        form(method="post", action="#")
                            .field
                                label(for="pais") País da JMJ
                                input(type="text", name="pais", value=pais, disabled=1)
                            .field
                            label(for="cidade") Cidade da JMJ
                                input(type="text", name="cidade", value=cidade,  disabled=1)                            
                            .field
                                label(for="ano") Ano da JMJ
                                input(type="text", name="ano", value=ano,  disabled=1)
                            .field
                                label(for="periodo") Periodo da JMJ
                                input(type="text", name="periodo", value=periodo,  disabled=1)
                            .field
                                label(for="lema") Lema da JMJ
                                input(type="text", name="lema", value=lema,  disabled=1)
                            ul.actions
                                li
                                    a.button.special(href="/jmj") Voltar 
            // Footer
            footer#footer
                p.copyrigh
                    | © Todos os direitos reservados. Design: 
                    a(href="https://html5up.net") GABRIELA
                    | .
#bg